{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация — Ладно{% endblock %}

{% block content %}
<section class="screen auth-screen register-screen">
    <div class="card auth-card">
        <div class="auth-logo-area">
            <div class="auth-logo-wrap">
                <img src="{% static 'images/logo.png' %}" alt="Ладно" class="auth-logo">
            </div>

            <div>
                <p class="eyebrow">Регистрация</p>
                <h1>Создать аккаунт</h1>
                <p>
                    Зарегистрируйтесь, чтобы сохранять историю check-in, смотреть динамику
                    настроения и получать недельные инсайты.
                </p>
            </div>
        </div>

        <form class="form auth-form register-form" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="messages">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="message danger-message">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="auth-form-fields">
                {% for field in form %}
                    <label class="field">
                        <span>{{ field.label }}</span>
                        {{ field }}

                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <small class="error">{{ error }}</small>
                        {% endfor %}
                    </label>
                {% endfor %}
            </div>

            <button type="submit" class="button primary auth-submit-button">
                Зарегистрироваться
            </button>
        
    
    <div class="form-group">
        <label for="{{ form.gender.id_for_label }}">Пол</label>
        {{ form.gender }}
        {% if form.gender.errors %}
            <div class="form-error">{{ form.gender.errors }}</div>
        {% endif %}
    </div>

<p class="small privacy-consent-text">
        Регистрируясь, вы подтверждаете, что ознакомились с
        <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener">
            политикой обработки персональных данных
        </a>.
    </p>

</form>

        <div class="auth-footer-action">
            <span>Уже есть аккаунт?</span>
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
</section>
{% endblock %}